.Root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.Show {
  opacity: 1;
  visibility: visible;
}

.Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 20px;
  pointer-events: none;
}

.Content {
  margin: auto;
  width: 100%;
  max-width: 500px;
  background: white;
  pointer-events: all;
transform: scale(0);
  transition: transform 400ms ease-in-out;
}

.Show .Content {
  transform: scale(1);
}



.Close {

}

.Header {

}

.Body {

}

.Footer {

}

.Mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}